@use "../../abstracts/mixins" as *;
@use "../../base/breakpoints" as b;

.shopping-cart {
  position: relative;
  min-height: 80svh;
  @include flex(row, space-between);
  gap: calc(100% / 12);

  &__content-container {
    flex-grow: 1;
  }

  @media screen and (width < b.$tablet) {
    flex-direction: column;
  }
}
