@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.shopping-cart {
  position: relative;
  min-height: 80svh;
  @include flex(row, space-between);
  gap: calc(100% / 12);

  &__content-container {
    flex-grow: 1;
  }
}
