@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.header {
  &__messages {
    padding-inline: func.rem(20) func.rem(56);
    padding-block: func.rem(14);
    background-color: c.$black;
    font-size: v.$fs-sm;
    line-height: 1.5;

    @media screen and (width >= b.$tablet) {
      padding-block: func.rem(9);
    }

    @media screen and (width >= b.$mobile-md) {
      @include flex(row, center, center);
      gap: func.rem(64);
    }

    & > * {
      @include flex(row, flex-start, center);
      gap: func.rem(10);
      padding: func.rem(2);
      color: c.$white;
    }

    & svg {
      width: func.rem(18);
      height: func.rem(18);
    }
  }

  &__hamburger-btn {
    z-index: 10;
    grid-column: 1/2;
    height: func.rem(90);
    &.fixed {
      position: fixed;
      top: 0;
      width: calc(
        (100% / v.$container-grid-columns) - var(--wrapper-padding-inline-start) - 0.25rem
      );
      max-width: func.rem(115);
    }
  }
}
