//* Text
$text-gray: #484848;
$black: #111;
$white: #fff;
$gray: #dfdfdf;
$grayish: #f5f5f5;
$overlay-opaque: hsla(0, 0%, 0%, 0.25);
$dark-gray: #333;

$red: #cc0008;
$light-red: #e00751;
$blue: #007cc1;
$blue-dark: #0058a3;
$very-dark-blue: #004f93;
$light-brown: #ecceb2;
$brown: #973a2b;
$violet: #5e77b4;
$yellow: #ffe06f;
$light-yellow: #f2e291;
$orange: #ca5008;
