@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.buy-module {
  @media screen and (width >= b.$tablet) {
    position: sticky;
    top: 6rem;
    flex-grow: 1;
    height: fit-content;
    padding-inline: func.rem(40);
  }

  @media screen and (width < b.$tablet) {
    display: grid;
  }

  &__header {
    @include flex(row, space-between);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    color: c.$text-gray;

    @media screen and (width < b.$tablet) {
      order: 2;
    }

    & h3 {
      font: inherit;
      @include flex(column);
    }

    & strong {
      color: c.$black;
    }

    & button {
      text-decoration: underline;
      text-underline-offset: 0.25em;
      transition: v.$main-transition;
      outline-offset: 0.25em;

      &:where(:hover, :focus-visible) {
        color: c.$black;
      }
    }
  }

  &__price {
    @media screen and (width < b.$tablet) {
      order: 3;
    }

    & .collection-list__item-price {
      font-size: func.rem(28);

      & small {
        font-size: func.rem(14);
      }
    }
  }

  &__rating {
    margin-block: 0.5rem;
    @media screen and (width < b.$tablet) {
      order: 4;

      width: fit-content;
      margin-bottom: 1rem;
    }
  }

  &__guarantee {
    margin-top: 0.5em;
    @include flex();
    gap: 1em;

    @media screen and (width < b.$tablet) {
      order: 5;
      margin-bottom: 1rem;
    }
  }

  &__badge {
    $_badge-width: 1.25rem;

    width: $_badge-width;
    aspect-ratio: 1;
    background-color: c.$black;
    color: c.$white;
    font-size: v.$fs-sm;
    font-weight: bold;
    text-align: center;
    line-height: $_badge-width;
  }

  &__thumbnails-container {
    margin-top: 1rem;
    padding-bottom: v.$product-container-gap;

    @media screen and (width < b.$tablet) {
      order: 1;

      margin-bottom: func.rem(40);
    }
  }

  &__size {
    border-top: func.rem(1) solid c.$gray;

    @media screen and (width < b.$tablet) {
      order: 6;
    }
  }
}
