@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.buy-module {
  @media screen and (width >= b.$tablet) {
    position: sticky;
    top: 6rem;
    flex-grow: 1;
    height: fit-content;
    padding-inline: func.rem(40);
  }

  @media screen and (width < b.$tablet) {
    display: grid;
  }

  &__price {
    @media screen and (width < b.$tablet) {
      order: 4;
    }

    & .collection-list__item-price {
      font-size: func.rem(28);

      & small {
        font-size: func.rem(14);
      }
    }
  }

  &__old-price {
    font-size: v.$fs-sm;

    @media screen and (width < b.$tablet) {
      order: 5;
    }
  }

  &__rating {
    margin-block: 0.5rem;
    @media screen and (width < b.$tablet) {
      order: 6;

      width: fit-content;
      margin-bottom: 1rem;
    }

    &:hover .product-ratings__text > span {
      text-decoration: underline;
      text-underline-offset: 0.15em;
    }
  }

  &__thumbnails-container {
    padding-bottom: v.$product-container-gap;

    @media screen and (width < b.$tablet) {
      order: 1;

      margin-bottom: func.rem(40);
    }
  }

  &__size {
    border-top: func.rem(1) solid c.$gray;

    @media screen and (width < b.$tablet) {
      order: 9;
    }
  }
}
