@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../base/breakpoints" as b;

.product {
  margin-top: 6rem;
  margin-bottom: 3rem;
  @media screen and (width >= b.$tablet) {
    @include flex();
    gap: v.$product-container-gap;
  }
}
