@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.product {
  $_container-gap: func.rem(20);

  position: relative;
  margin-block: 3rem;

  &__images-container {
    max-width: calc(100% * (2 / 3));
    @include flex();
    gap: $_container-gap;
    flex-wrap: wrap;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__img-btn {
    width: calc(50% - ($_container-gap / 2));
  }

  &__buy-module {
  }
}
