@use "../../abstracts/mixins" as *;

.hamburger-btn {
  outline: none;

  &__svg-wrapper {
    width: 44px;
    height: 44px;
    @include center;
    border-radius: 50%;
  }

  &:hover .hamburger-btn__svg-wrapper {
    background-color: #dfdfdf;
  }

  &:focus-visible .hamburger-btn__svg-wrapper {
    outline: auto;
  }
}
