@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.btn {
  min-height: 2.5rem;
  font-size: v.$fs-sm;
  font-weight: bold;
  transition: v.$main-transition;

  &:focus {
    outline-offset: 0.5rem;
  }

  &--oval {
    padding-inline: func.rem(24);
    border-radius: 50vw;
  }
  &--circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
    @include center;
  }

  &--dark {
    background-color: c.$black;
    color: c.$white;

    &:hover {
      background-color: c.$dark-gray;
    }
  }

  &--light {
    background-color: c.$white;
    color: c.$black;

    &:hover {
      background-color: c.$gray;
    }
  }
}
