@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.btn {
  min-height: 2.5rem;
  width: fit-content;
  @include center;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  transition: v.$main-transition;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline-offset: 0.5rem;
  }

  &--oval {
    padding-inline: func.rem(24);
    border-radius: 50vw;
  }
  &--circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
    outline-offset: 0 !important;
  }

  &--dark {
    background-color: c.$black;
    color: c.$white;

    &:not(:disabled):hover {
      background-color: c.$dark-gray;
    }
  }

  &--light,
  &--light-with-border {
    background-color: c.$white;
    color: c.$black;

    &:not(:disabled):hover {
      background-color: c.$gray;
    }
  }

  &--light-with-border {
    border: func.rem(1) solid c.$text-gray;
  }

  &--blue {
    background-color: c.$blue-dark;
    color: c.$white;

    &:not(:disabled):hover {
      background-color: c.$very-dark-blue;
    }
  }

  &--gray {
    background-color: c.$grayish;
    color: c.$black;

    &:not(:disabled):hover {
      background-color: c.$gray;
    }
  }

  &:is(:disabled)[aria-pressed="true"] {
    border: func.rem(1) solid c.$black;
  }
}
