@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.products-grid {
  $_spacing: 2.5rem;

  margin-block: $_spacing;
  display: grid;
  gap: $_spacing;

  @media screen and (width >= b.$mobile-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= b.$tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width >= b.$desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (width < b.$mobile-sm) {
    & > li {
      border-bottom: func.rem(1) solid c.$gray;
      padding-block: 2rem;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
