@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/variables" as v;
@use "../../../../abstracts/colors" as c;
@use "../../../../base/functions" as func;

.list-product {
  position: relative;

  &__header-wrapper {
    margin-top: 3.5rem;
  }

  &__img-wrapper {
    margin-bottom: 1.25rem;
    @include center;
    aspect-ratio: 1;
  }

  &__header {
    font-size: 1rem;
    font-weight: bold;
  }

  &__price {
    font-size: 1.75rem;

    & sup {
      line-height: v.$fs-sm;
    }
  }

  &__checkbox-wrapper {
    position: absolute;
    top: 0;
    width: 1.5rem;
    aspect-ratio: 1;
    outline: func.rem(1) solid transparent;
    border-radius: v.$main-border-radius;
    transition: v.$main-transition;

    @media (hover: hover) {
      visibility: hidden;
      opacity: 0;
    }

    &:focus-within {
      outline-color: c.$black;
    }
  }

  &:where(:hover, :focus-within) &__checkbox-wrapper {
    @media (hover: hover) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__quantity-input-wrapper {
    margin-block: 1rem;
  }

  &__btns-wrapper {
    @include flex();
    gap: 0.5rem;
  }

  &__more-options-list {
    margin-block: 1rem;
    @include flex(column);

    & > li:first-child {
      position: relative;
      text-indent: 1rem;

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 0.5rem;
        height: 0.5rem;
        translate: 0 -50%;
        border-radius: 50vw;
        background-color: c.$medium-gray;
      }
    }
  }

  &__more-options-btn {
    margin-inline: -0.5rem;
    padding: 0.5rem;
    color: c.$text-gray;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    transition: v.$main-transition;

    &:hover {
      color: c.$black;
    }
  }
}
