@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;

.footer__nav-links-list {
  @include flex();
  column-gap: func.rem(20);
  row-gap: func.rem(12);
  flex-wrap: wrap;
  color: c.$text-gray;

  & li {
    border: func.rem(1) solid c.$gray;
    transition: v.$main-transition;

    &.icons-rounded {
      width: func.rem(34);
      aspect-ratio: 1;
      border-radius: 50vw;
    }

    &:not(.icons-rounded) {
      width: 3rem;
      height: 2rem;
      border-radius: v.$main-border-radius;

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      border-color: c.$text-gray;
    }

    & a {
      width: 100%;
      height: 100%;
      @include center;
    }
  }
}
