@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;

.product-thumbnails {
  display: flex;
  gap: 0.25em;
  margin-top: 0.25em;

  &__link {
    width: func.rem(70);
    padding: 0.5rem;
    border: func.rem(1) solid transparent;
    border-radius: 0.25rem;
    outline-offset: 0;
    transition: v.$main-transition;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:hover:not(.active) {
      border-color: c.$medium-gray;
    }

    &.active {
      border: func.rem(2) solid c.$black;
      outline: 0;

      &:where(:hover, :focus-visible) {
        border-color: c.$medium-gray;
      }
    }
  }
}
