@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.article {
  @media screen and (width >= b.$article-desktop) {
    @include flex();
  }

  &:has(.article__section) {
    display: grid;
    @media screen and (width >= b.$tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (b.$mobile-md <= width <= b.$tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      & > :first-child,
      & > :nth-child(2) {
        margin-bottom: func.rem(1);
      }
    }

    @media screen and (width < b.$mobile-md) {
      grid-template-rows: repeat(4, 1fr);
      & > :not(:last-child) {
        margin-bottom: func.rem(1);
      }
    }
  }

  &__img-container {
    position: relative;

    @media screen and (width >= b.$article-desktop) {
      width: 66%;
      &:is(:only-child) {
        width: 100%;
      }
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @media screen and (width < b.$mobile-md) {
        aspect-ratio: 3/4;
      }
    }
  }

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__text-container {
    background-color: c.$grayish;
    color: inherit;
    @media screen and (width >= b.$article-desktop) {
      width: 34%;
      padding: 3rem;
    }
    @media screen and (width < b.$article-desktop) {
      padding: func.rem(80);
      & > * {
        max-width: 80%;
      }
    }
    @media screen and (width < b.$tablet) {
      padding: func.rem(40);
      padding-bottom: func.rem(60);
    }
    @media screen and (width < b.$mobile-md) {
      & > * {
        max-width: 100%;
      }
    }

    &--accent {
      background-color: c.$red;
      color: c.$white;
    }

    & .article__heading {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;

      &:is(strong) {
        display: inline-block;
      }
    }
  }

  &__text {
    color: inherit;
    margin-bottom: 1.5rem;
  }

  @media screen and (width >= b.$article-desktop) {
    &.col-reverse {
      flex-direction: row-reverse;
    }
  }

  &__section {
    margin-right: func.rem(1);
    padding: 2rem;
    background-color: c.$grayish;
    color: c.$text-gray;

    & h3 {
      font-size: 1rem;
      color: c.$black;
    }

    & a {
      text-decoration: underline;
      transition: v.$main-transition;

      &:hover {
        color: c.$black;
      }
    }

    & > *:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__slide {
    position: relative;
    aspect-ratio: 3/4;
    background-color: c.$grayish;
    font-size: 1rem;
    color: inherit;
    isolation: isolate;
    cursor: pointer;

    &--accent {
      background-color: c.$red;
      color: c.$white;
    }

    &:hover a {
      text-decoration: none;
      & h3 {
        text-decoration: underline;
      }
    }
    &:hover img {
      opacity: 0.75;
    }

    & h3 {
      font-size: inherit;
    }

    & .flex-container {
      padding: func.rem(40) 2rem;

      @include flex(column, flex-end, center);
      height: 100%;
      width: 100%;
      &:has(.article__heading) {
        @include flex(column, space-between, flex-start);
      }
    }

    & img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      transition: v.$main-transition;
      z-index: -1;
    }
  }

  &__slide-btn {
    @include center;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    z-index: 1;
  }
}
