@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/breakpoints" as b;

.guarantee-information {
  margin-top: 0.5em;
  margin-bottom: 1rem;
  @include flex(row, flex-start, center);
  gap: 1em;

  &__badge {
    $_badge-width: 1.25rem;

    width: $_badge-width;
    aspect-ratio: 1;
    background-color: c.$black;
    color: c.$white;
    font-size: v.$fs-sm;
    font-weight: bold;
    text-align: center;
    line-height: $_badge-width;
  }
}
