@use "../../../../abstracts/mixins" as *;

.empty-list {
  &__btns-container {
    margin-bottom: 2.5rem;
    @include flex(row, flex-end, center);
    gap: 0.5rem;
  }

  &__btn-menu {
    rotate: 90deg;
  }

  &__text-wrapper {
    @include flex(column, center, center);
    text-align: center;

    & > strong {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    & > p {
      margin-bottom: 1.5rem;
    }
  }

  & button[role="link"] {
    margin-inline: auto;
  }
}
