@use "../../abstracts/mixins" as *;

.btns-control {
  position: relative;
  max-width: 100%;

  &__inner-wrapper {
    padding: 0.25rem;
    @include flex(row, flex-start, center);
    gap: 0.5rem;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    & button {
      outline-offset: initial !important;
      text-wrap: nowrap;
    }
  }

  &__btn-navigation {
    $_btn-position: 1rem;

    position: absolute;
    top: 50%;
    height: 2rem;
    min-height: auto;
    translate: 0 -50%;

    & svg {
      width: 1.5rem;
      aspect-ratio: 1;
    }

    &--prev {
      left: $_btn-position;
    }

    &--next {
      right: $_btn-position;
    }

    &[disabled] {
      visibility: hidden;
      opacity: 0;
    }
  }
}
