@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.articles {
  & > article {
    margin-block: 4rem;

    @media screen and (width < b.$mobile-md) {
      margin-block: func.rem(40);
    }
  }
}

.message-container {
  min-height: 50dvh;
  margin-block: 3rem;
  @include flex(column, center, center);
  text-align: center;

  & button {
    margin-top: 1em;
    font-size: 1rem;
    color: c.$text-gray;
    text-decoration: underline;
    text-underline-offset: 0.3em;

    &:hover {
      color: c.$black;
    }
    &:focus {
      outline-offset: 1em;
    }
  }
}

.message {
  font-size: 2rem;

  &--error {
    color: c.$red;
  }
}
