@use "../../../../abstracts/mixins" as *;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.main-menu {
  $_inner-padding: 2rem;

  &__list > * {
    padding-block: func.rem(10);
  }

  &__main-list {
    font-weight: bold;
    padding-block: $_inner-padding;
  }

  &__main-list-item {
    font-size: func.rem(36);

    @media screen and (width <= b.$mobile-md) {
      font-size: func.rem(24);
    }
  }

  &__secondary-list {
    padding-bottom: $_inner-padding;
  }

  &__change-country-btn {
    width: fit-content !important;
    margin-block: 2rem 0.5rem;
    padding-inline: 1rem;
    display: flex !important;
    gap: 0.5rem;
  }
}
