@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.article {
  @media screen and (width >= b.$article-desktop) {
    @include flex();
  }

  &__img-container {
    position: relative;
    height: 100%;
    background-color: c.$gray;

    @media screen and (width >= b.$article-desktop) {
      width: 66%;
      &:is(:only-child) {
        width: 100%;
      }
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:where(:hover, :focus-within) .article__instagram-badge .article__instagram-nickname {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    @media screen and (width < b.$mobile-md) {
      font-size: func.rem(18);
    }
  }

  &__subheading {
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-block: 0.5rem;
  }

  &__text-container {
    background-color: c.$grayish;
    color: inherit;
    @media screen and (width >= b.$article-desktop) {
      width: 34%;
      padding: 3rem;
    }
    @media screen and (width < b.$article-desktop) {
      padding: func.rem(80);
      & > * {
        max-width: 80%;
      }
    }
    @media screen and (width < b.$tablet) {
      padding: func.rem(40);
      padding-bottom: func.rem(60);
    }
    @media screen and (width < b.$mobile-md) {
      & > * {
        max-width: 100%;
      }
    }

    & .article__heading {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;

      &:is(strong) {
        display: inline-block;
      }
    }
  }

  &__text {
    color: inherit;
    margin-bottom: 1.5rem;
  }

  @media screen and (width >= b.$article-desktop) {
    &.col-reverse {
      flex-direction: row-reverse;
    }
  }

  &__instagram-badge {
    position: absolute;
    @include flex(row, flex-start, center);
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
    background: c.$grayish;
    border-radius: 50vw;
    opacity: 0.7;
    font-size: v.$fs-sm;
    font-weight: bold;
    line-height: 1.33333;
  }

  &__instagram-nickname {
    display: grid;
    transition: v.$main-transition;
    & > * {
      overflow: hidden;
      text-indent: 0.5rem;
      text-overflow: ellipsis;
    }

    &--hide {
      grid-template-columns: 0fr;
      @media (hover: none) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__wishlist-badge {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: func.rem(40);
    aspect-ratio: 1;
    @include center;
    border-radius: 50vw;
    background-color: hsla(0, 0%, 0%, 0.7);
    color: c.$white;
    transition: v.$main-transition;
    z-index: 10;

    &:where(:hover, :focus-visible) {
      background-color: hsla(0, 0%, 0%, 0.9);
    }
  }

  &__section {
    background-color: c.$grayish;
    &[aria-controls] {
      cursor: pointer;
    }
  }

  &__slide {
    position: relative;
    aspect-ratio: 3/4;
    background-color: c.$grayish;
    font-size: 1rem;
    color: inherit;
    isolation: isolate;
    cursor: pointer;

    &:hover a {
      text-decoration: none;
      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        text-decoration: underline;
      }
    }
    &:hover img {
      opacity: 0.75;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-size: inherit;
    }

    & .flex-container {
      padding: func.rem(40) 2rem;

      @include flex(column, flex-end, center);
      height: 100%;
      width: 100%;
      &:has(.article__heading) {
        @include flex(column, space-between, flex-start);
      }
      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        margin-bottom: auto;
      }

      @media screen and (width < b.$mobile-sm) {
        padding: 1.5rem;

        & .article__heading {
          font-size: func.rem(14);
        }
      }
    }

    & img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      transition: v.$main-transition;
      z-index: -1;
    }
  }

  &__slide-btn {
    @include center;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    z-index: 1;
  }
}
