@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.aside-menu {
  position: fixed;
  inset: 0;
  width: 30rem;
  padding-inline: func.rem(30);
  background-color: c.$white;
  z-index: 999;
  transition: translate 300ms ease-in-out;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-margin-block: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 60%) transparent;
  scrollbar-gutter: stable;
  @media screen and (width < b.$tablet) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 60%);
    border-radius: 100vw;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: hsl(0, 0%, 60%, 0.25);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 50%);
  }

  &[aria-hidden="false"] {
    translate: 0;
  }
  &[aria-hidden="true"] {
    translate: -100%;
  }

  &__top {
    position: sticky;
    top: 0;
    background-color: c.$white;
    @include flex(row, flex-start, center);

    & > button {
      position: absolute;
      margin-inline-start: 24px;
      width: 40px;
      height: 40px;
      @include center;
      @media screen and (width <= b.$tablet) {
        right: 0;
        margin-inline-start: 0;
      }
    }
  }

  @media screen and (width >= b.$tablet) {
    &__container {
      padding-left: func.rem(120);
    }
  }

  &__svg-wrapper {
    padding-block: func.rem(28);
    & > a {
      display: block;
      width: func.rem(90);
      height: func.rem(36);
    }
    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__navigation {
    padding-block: 2rem;

    & ul > *:not(:first-child) {
      margin-top: 1.25rem;
    }

    & ul > li {
      text-wrap: balance;
    }

    &--top {
      font-size: 2rem;
      font-weight: bold;
    }

    &--bottom {
      padding-top: func.rem(46);
    }
  }

  & li:has(.aside-menu__fs-sm) {
    line-height: func.rem(19);
  }

  &__change-country {
    width: fit-content;
    padding-top: func.rem(70);
    margin-left: -1rem;
  }

  &__fs-sm {
    font-size: func.rem(14);
    line-height: 1;
  }

  &__login a {
    border-bottom: func.rem(1) solid rgb(223, 223, 223);
    @include flex(row, flex-start, center);
    gap: func.rem(8);
    padding-block: 1rem;
    margin-top: func.rem(4);
  }
}
