@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.cards-container {
  @include flex(row);

  .card {
    @include flex(column);
    color: c.$black;
    text-wrap: balance;
    height: calc(100% - 2.5rem);

    &--blue {
      background-color: c.$blue;
      color: c.$white;
    }
    &--brown {
      background-color: c.$brown;
      color: c.$white;
    }
    &--light-brown {
      background-color: c.$light-brown;
    }
    &--violet {
      background-color: c.$violet;
      color: black;
    }
    &--yellow {
      background-color: c.$yellow;
    }
    &--light-yellow {
      background-color: c.$light-yellow;
    }

    &:hover {
      text-decoration: none;
      & h3 {
        text-decoration: underline;
        text-underline-offset: 0.3em;
      }
      & img {
        filter: grayscale(0.5);
      }
    }

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      transition: v.$main-transition;
    }

    &__text-wrapper {
      height: 100%;
      @include flex(column, space-between, flex-start);
      padding: 2rem;

      h3 {
        margin-bottom: 0.25rem;
        font-size: func.rem(25);
        line-height: 2.5rem;
        @media screen and (width < b.$mobile-md) {
          font-size: func.rem(18);
          line-height: 1.778;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.625;
        color: inherit;
      }
    }

    &__btn {
      margin-top: 4rem;

      & svg {
        width: 100%;
        height: 100%;
        padding: 1rem;
      }

      @media screen and (width < b.$mobile-md) {
        margin-top: 2rem;
      }
    }
  }
}
