@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.side-modal {
  inset: 0;
  bottom: 0;
  border: none;
  transition: v.$main-transition;

  &::backdrop {
    background-color: transparent;
    transition: v.$main-transition;
  }

  &.show::backdrop {
    background-color: c.$overlay-opaque;
  }

  @media screen and (width >= b.$mobile-md) {
    inset: auto;
    bottom: 0;
    right: 0;
    width: func.rem(480);
    max-width: func.rem(480);
    max-height: 100%;
    height: 100%;
    top: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    translate: 100%;
  }

  @media screen and (width < b.$mobile-md) {
    width: 100dvw;
    max-width: 100dvw;
    inset: auto;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 85dvh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    translate: 0 100%;
  }

  &.show {
    translate: 0;
  }
}
