@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/breakpoints" as b;

.additional-information {
  @include flex(row, flex-start, center);
  font-size: v.$fs-sm;
  margin-block: 1em;

  @media screen and (width < b.$tablet) {
    order: 7;
  }

  & svg {
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: c.$dark-gray;
  }
}
