@use "../../../../../abstracts/mixins" as *;
@use "../../../../../abstracts/colors" as c;
@use "../../../../../abstracts/variables" as v;
@use "../../../../../base/functions" as func;
@use "../../../../../base/breakpoints" as b;

.delivery-options {
  @include flex(row, space-between, stretch);
  gap: 1.25rem;

  @media screen and (width < b.$mobile-md) {
    flex-direction: column;
  }

  &__box {
    width: 100%;
    padding: 1.25rem 1.5rem;
    border: func.rem(1) solid c.$gray;
    border-radius: v.$main-border-radius;
    text-align: left;
    cursor: pointer;
    transition: v.$main-transition;

    & svg {
      flex-shrink: 0;
    }

    &:hover {
      border-color: c.$medium-gray;
    }

    &:has(> input:checked) {
      border-color: transparent;
      box-shadow: 0 0 0 0.125rem c.$blue-dark;
    }
  }

  &__box-inner-wrapper {
    min-height: 2.75rem;
    @include flex(row, flex-start, center);
    gap: 1rem;
  }

  &__info {
    margin-top: 0.5rem;
    @include flex(row, flex-start, center);
    gap: 0.75rem;

    & > svg {
      color: c.$blue-dark;
    }
  }
}
