@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;

.product-thumbnails {
  margin-top: 0.25em;
  @include flex(row, flex-start, center);
  gap: 0.5em;
  flex-wrap: wrap;

  &__link {
    --_border-width: #{func.rem(1)};
    --_border-color: transparent;

    width: func.rem(70);
    padding: 0.5rem;
    border-radius: v.$main-border-radius;
    outline-offset: 0;
    transition: v.$main-transition;
    box-shadow: var(--_border-color) 0px 0px 0px var(--_border-width);

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.active {
      --_border-width: #{func.rem(2)};
      --_border-color: #{c.$black};
      outline: 0;
    }

    &:hover,
    &.active:focus-visible {
      --_border-color: #{c.$medium-gray};
    }

    &.active:focus-visible {
      --_border-width: #{func.rem(1)};
    }
  }

  &__remaining-thumbnails-count {
    margin-left: 1rem;
    line-height: 1.333333;
    text-indent: -0.5ch;

    &:hover {
      box-shadow: inset 0 0 0 func.rem(1) c.$black;
      background-color: transparent !important;
    }
  }
}
