@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.list-page {
  $_main-block-spacing: 2.5rem;

  margin-block: $_main-block-spacing;

  &__header {
    margin-block: $_main-block-spacing;
    font-size: func.rem(36);
    text-align: center;
  }

  //!
  &__btns-options-container {
    $_gap: 1rem;
    $_btn-size: func.rem(40);
    $_btns-gap: 0.5rem;
    $_btns-quantity: 3;

    margin-top: $_main-block-spacing;
    @include flex(row, space-between, center);
    gap: $_gap;

    @media screen and (width >= b.$mobile-md) {
      & > .btns-control {
        max-width: calc(
          100% - (($_btns-quantity * $_btn-size) + (($_btns-quantity - 1) * $_btns-gap) + $_gap)
        );
      }
    }

    @media screen and (width < b.$mobile-md) {
      flex-direction: column-reverse;
    }
  }

  &__btns-list-control {
    @include flex(row, flex-start, center);
    gap: 0.5rem;
    flex-shrink: 0;
  }
  //!

  //////!
  &__btns-control-container {
    flex-grow: 1;
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      @include flex(row, flex-start, center);
      gap: 0.5rem;
    }
  }
  //////!

  &__btns-container {
    margin-bottom: $_main-block-spacing;
    @include flex(row, flex-end, center);
    gap: 0.5rem;
  }

  &__btn-menu {
    rotate: 90deg;
  }

  &__text-wrapper {
    @include flex(column, center, center);

    & > strong {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    & > p {
      margin-bottom: 1.5rem;
    }
  }

  & button[role="link"] {
    margin-inline: auto;
  }
}
