@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.image-with-products-modal {
  $_height_cut: 6rem;
  $_product-padding-block: func.rem(30);

  $_padding-right: 2rem;
  $_padding-right-mobile: func.rem(14);
  $_border-radius: 0.5rem;

  border: none;
  transition: v.$main-transition;

  @media screen and (width >= b.$tablet-lg) and (height >= b.$mobile-lg) {
    max-width: 1400px;
    width: 90dvw;
    width: 100%;
    height: 100%;
    max-height: 90%;
    padding: 0 $_padding-right $_padding-right 4.5rem;
    border-radius: $_border-radius;
    scale: 0;
  }

  @media screen and (width < b.$tablet-lg), (height < b.$mobile-lg) {
    inset: auto;
    bottom: 0;
    right: 0;
  }

  @media screen and (b.$mobile-md <= width < b.$tablet-lg), (height < b.$mobile-lg) {
    width: func.rem(480);
    max-width: func.rem(480);
    max-height: 100%;
    height: 100%;
    top: 0;
    border-top-left-radius: $_border-radius;
    border-bottom-left-radius: $_border-radius;
    translate: 100%;
  }

  @media screen and (width < b.$mobile-md), (height < b.$mobile-lg) {
    width: 100dvw;
    max-width: 100dvw;
    max-height: 85dvh;
    border-top-left-radius: $_border-radius;
    border-top-right-radius: $_border-radius;
    left: 0;
    top: auto;
    translate: 0 100% !important;
  }

  &.show {
    @media screen and (width >= b.$tablet-lg) and (height >= b.$mobile-lg) {
      scale: 1;
    }
    @media screen and (width < b.$tablet-lg), (height < b.$mobile-lg) {
      translate: 0;
    }
    @media screen and (width < b.$mobile-md), (height < b.$mobile-lg) {
      translate: 0 0 !important;
    }
  }

  &__header {
    @include flex(row, space-between, center);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &:has(+ .image-with-products-modal__instagram-nick-mobile) {
      margin-bottom: 2rem;
    }
  }

  &__heading {
    font-size: func.rem(20);
    font-weight: bold;
  }

  &__instagram-nick-mobile {
    @include flex(row, flex-start, center);
    margin-top: -1.75rem;
    color: c.$text-gray;
    translate: -0.25rem;
    margin-bottom: 0.5rem;

    & svg {
      height: 1rem;
    }
  }

  &__main-content {
    @include flex(row);
    gap: func.rem(40);
    height: calc(100% - $_height_cut);
  }

  &__thumbnail-wrapper {
    position: relative;
    isolation: isolate;
  }

  &__thumbnail-img-hover {
    position: absolute;
    inset: 0;
    transition: v.$main-transition;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    &:hover {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }

  &__thumbnail-img {
    transition: v.$main-transition;

    &:hover {
      z-index: -1;
      opacity: 0;
      visibility: hidden;

      & ~ .image-with-products-modal__thumbnail-img-hover {
        z-index: 1;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__img-inner-wrapper {
    width: auto;
  }

  &__products-list {
    max-height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    @media screen and (width >= b.$tablet-lg) and (height >= b.$mobile-lg) {
      margin-right: -#{$_padding-right};
      padding-right: $_padding-right;
      min-width: func.rem(450);
    }
    @media screen and (width < b.$tablet-lg), (height < b.$mobile-lg) {
      margin-right: -#{$_padding-right-mobile};
      padding-right: $_padding-right-mobile;
    }

    scroll-behavior: smooth;
    scroll-margin-block: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 60%) transparent;
    &::-webkit-scrollbar {
      width: v.$scrollbar-width;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 100vw;
    }
    &::-webkit-scrollbar-thumb {
      background-color: hsl(0, 0%, 60%);
      border-radius: 100vw;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: hsl(0, 0%, 60%, 0.25);
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: hsl(0, 0%, 50%);
    }
  }

  &__product {
    position: relative;
    @include flex(row, flex-start, center);
    gap: calc(1.2rem + 1dvw);
    padding-block: $_product-padding-block;
    border-bottom: func.rem(1) solid c.$gray;
    color: c.$black;

    &:hover {
      text-decoration: none;

      & .image-with-products-modal__product-heading {
        text-decoration: underline;
      }
    }
  }

  &__product-img-container {
    position: relative;

    & img {
      width: calc(5rem + 2dvw);
      aspect-ratio: 1;
    }
  }

  &__product-text-wrapper {
    @include flex(column);
  }

  &__product-new-price-tag {
    margin-block: 1rem 0.25rem;
    font-size: v.$fs-sm;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    color: c.$red;
  }

  &__product-subheading {
    margin-bottom: 0.5rem;
  }

  &__product-last-price-tag {
    font-size: v.$fs-sm;
    margin-bottom: 1rem;

    & small {
      font-size: 1.5rem;
      color: c.$black;
    }
  }

  &__product-btns-wrapper {
    position: absolute;
    right: 0;
    bottom: $_product-padding-block;
    @include flex();
    gap: 0.5rem;
  }
}
