@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.sub-footer-list {
  @include flex();
  column-gap: func.rem(20);
  flex-wrap: wrap;
  font-size: v.$fs-sm;

  & li {
    padding-block: 0.5rem;
    text-wrap: balance;
    &:last-child {
      padding-bottom: 0;
    }
  }

  @media screen and (width >= b.$tablet) {
    justify-content: flex-end;
    row-gap: 1rem;

    & li {
      padding-block: 0;

      &:last-child {
        padding-bottom: 0.5rem;
      }
    }
  }
}
