@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.navbar {
  $_logo-width: func.rem(90);
  @media screen and (width >= b.$mobile-lg) {
    height: func.rem(90);
  }
  @media screen and (width < b.$mobile-lg) {
    height: func.rem(130);
  }

  &__inner {
    height: func.rem(90);
  }

  &__inner-container {
    height: 100%;

    @media screen and (width < b.$mobile-lg) {
      display: grid;
      grid-template-areas:
        "logo        icons"
        "searchbar   searchbar";
    }
    @media screen and (width >= b.$mobile-lg) {
      @include flex(row, flex-start, center);
    }
  }

  &__logo {
    max-width: fit-content;
    padding-block: func.rem(22);
    & svg {
      height: func.rem(36);
      width: $_logo-width;
    }
  }

  &__searchbar-wrapper {
    position: relative;
    @include center;
    @media screen and (width >= b.$mobile-lg) {
      flex-grow: 1;
      margin-left: func.rem(40);
    }
    @media screen and (width >= b.$desktop) {
      width: 45%;
      margin-left: 2rem;
    }
  }

  &__searchbar-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    translate: 0 -50%;
  }

  &__searchbar {
    height: 3.125rem;
    width: 100%;
    padding-block: 0.5rem;
    padding-inline: 3.25rem 3.375rem;
    background-color: c.$grayish;
    border-color: transparent;
    border-radius: 50vw;
    font-size: 1rem;
    line-height: 1.5;
    transition: v.$main-transition;
    &:hover {
      background-color: c.$gray;
    }
  }

  &__icons-list {
    @include flex(row, flex-end, center);
    translate: 1em;

    @media screen and (width >= b.$desktop) {
      flex-grow: 1;
      justify-self: flex-end;
    }

    & .self-align {
      & > * {
        width: auto;
        @include flex(row, center, center);
        gap: 0.5rem;
        padding-inline: 0.875rem 1.25rem;
        border-radius: 50vw;
        text-decoration: none;
      }
    }
  }

  &__btns-wrapper {
    height: func.rem(56);
    @include flex(row, space-between);
    column-gap: 0.5rem;
    overflow: hidden;
    border-bottom: func.rem(1) solid c.$gray;

    &--inner {
      @include flex(row, flex-start, center);
      gap: 0.5rem;
      overflow: hidden;
    }

    & span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__navigation-desktop {
    @include flex();
  }

  &__shopping-cart {
    position: relative;
  }

  & .shopping-cart-badge {
    $_size: func.rem(19);
    $_font-size: 0.65rem;

    position: absolute;
    top: 0;
    right: 0;
    width: $_size;
    height: $_size;
    @include center;
    background-color: c.$blue-dark;
    border-radius: 50vw;
    font-size: $_font-size;
    line-height: $_font-size;
    color: white;
  }

  //? Grid Placement:
  .logo {
    grid-area: logo;
  }
  .icons {
    grid-area: icons;
  }
  .searchbar {
    grid-area: searchbar;
  }
  .postal {
    grid-area: postal;
  }
  .shop {
    grid-area: shop;
  }

  //? Navbar animations:
  .scrolled {
    $safeGuardValue: func.rem(3.09);

    translate: 0 -100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-left: var(--wrapper-padding-inline-start);
    padding-right: var(--wrapper-padding-inline-end);
    background-color: c.$white;
    transform: translateX(calc((var(--wrapper-padding-inline-start)) * -1))
      translateY(-100%);
    & > * {
      position: relative;
    }
    & > *::before {
      position: absolute;
      content: "";
      width: 200dvw;
      height: 100%;
      background-color: c.$white;
      translate: -50%;
      z-index: -1;
    }

    @media screen and (b.$desktop <= width < v.$navbar-max-width) {
      max-width: calc(100% - (100% / v.$container-grid-columns) + 4px);
    }

    @media screen and (width >= v.$navbar-max-width) {
      max-width: v.$navbar-max-width;
      & > * {
        width: calc(
          ((100% / v.$container-grid-columns) * (v.$container-grid-columns - 1))
        );
      }
    }
  }

  .slideDown {
    translate: 0 100%;
    transition: translate 1s ease-in;
    &.mobile {
      transition-duration: 300ms;
    }
  }
  .slideUp {
    translate: 0 -100%;
    transition: translate 1s ease-out;
    &.mobile {
      transition-duration: 500ms;
    }
  }
}
