@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.favourite-lists {
  $_block-spacing: func.rem(40);

  margin-block: $_block-spacing;

  &__header {
    margin-bottom: 1.5rem;

    & > h2 {
      margin-bottom: 1rem;
      font-size: func.rem(36);
      line-height: 1.333;

      @media screen and (width < b.$mobile-md) {
        font-size: 1.5rem;
        line-height: 1.45;
      }
    }
  }

  &__container {
    @media screen and (width >= b.$mobile-md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem 1.5rem;
    }
  }

  &__content-wrapper {
    padding-block: $_block-spacing;
    @include flex(column, center, center);
    text-align: center;
    grid-column: span 3;

    &:has(~ .favourite-list) {
      @media screen and (width >= b.$mobile-md) {
        grid-column: span 2;
      }
    }

    & > :not(:last-child) {
      margin-bottom: 0.75em;
    }

    & > h3 {
      font-size: 1.5rem;

      @media screen and (width < b.$mobile-md) {
        font-size: func.rem(18);
      }
    }

    & > svg {
      color: c.$text-gray;
    }
  }

  &__btns-wrapper {
    margin-top: 0.75rem;
    @include flex();
    gap: 0.5rem;
  }

  &__list {
    margin-block: 2.5rem;
    display: grid;
    gap: 1.25rem 1.5rem;

    @media screen and (width >= b.$tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (width < b.$tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width < b.$mobile-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @media screen and (width < func.rem(400)) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}
