@use "../../../abstracts/mixins" as *;
@use "../../../abstracts/colors" as c;
@use "../../../abstracts/variables" as v;
@use "../../../base/functions" as func;

.postal-code-modal {
  height: 100%;
  @include flex(column);

  &__form {
    margin-block: 1.5rem;
  }

  &__link {
    display: inline;
    max-width: fit-content;
    text-decoration: underline;

    & svg {
      display: inline-block;
      vertical-align: middle;
    }

    &:where(:hover, :focus-visible) {
      color: c.$black;
    }
  }

  &__btn-wrapper {
    $_outline-provider: 0.5rem;
    $_btn-height: 3.5rem;

    padding-inline: $_outline-provider;
    margin-inline: calc($_outline-provider * -1);
    margin-top: auto;
    translate: 0 calc($_btn-height * -1);

    & button {
      width: calc(100% - ($_outline-provider * 2));
      min-height: $_btn-height;
      margin-inline: auto;
      font-size: func.rem(14);

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  &__current-location-btn {
    color: c.$text-gray;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    transition: v.$main-transition;
    outline-offset: 0.25em;

    &:where(:hover, :focus-visible) {
      color: black;
    }
  }
}
