@use "../../../abstracts/mixins" as *;
@use "../../../abstracts/colors" as c;
@use "../../../abstracts/variables" as v;
@use "../../../base/functions" as func;
@use "../../../base/breakpoints" as b;

.postal-code-modal {
  height: 100%;
  @include flex(column);

  &__form {
    margin-block: 1.5rem;
  }

  &__link {
    display: inline;
    max-width: fit-content;
    text-decoration: underline;

    & svg {
      display: inline-block;
      vertical-align: middle;
    }

    &:where(:hover, :focus-visible) {
      color: c.$black;
    }
  }

  &__subdescription {
    margin-bottom: 1.5rem;
  }

  &__btn-wrapper {
    $_outline-provider: 0.5rem;
    $_btn-height: 3.5rem;

    margin-top: auto;

    @media screen and (width >= b.$mobile-md) {
      translate: 0 -#{$_outline-provider};
    }

    & button {
      width: calc(100% - ($_outline-provider * 2));
      min-height: $_btn-height;
      margin-inline: auto;
      font-size: func.rem(14);

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  &__location-btn {
    margin-top: 1.25rem;
  }
}
