@use "../../../../abstracts/mixins" as *;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.create-list-modal {
  @include flex(column, space-between);
  gap: 1rem;
  height: 100%;

  & button {
    width: 100%;

    @media screen and (width >= b.$mobile-md) {
      min-height: 3.5rem;
      font-size: func.rem(14);
    }
  }
}
