@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;

.postal-code-input {
  $_box-shadow-thickness: 0.125rem;
  $_box-shadow-size: 0px 0px 0px $_box-shadow-thickness;

  @include flex(column);

  &__errormessage {
    position: relative;
    color: c.$light-red;
    gap: 0.5em;
    display: none;
    visibility: hidden;

    &::before {
      content: "";
      flex-shrink: 0;
      height: 1rem;
      width: 1rem;
      background-color: c.$light-red;
      background-image: url("data:image/svg+xml;utf8,<svg width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M12.9482 13.1025h-2.0035v-6h2l.0035 6zm-2.25 2.75c0-.6903.5597-1.25 1.25-1.25.6904 0 1.25.5597 1.25 1.25 0 .6904-.5596 1.25-1.25 1.25-.6903 0-1.25-.5596-1.25-1.25z%27 /></svg>");
      background-position: center;
      border-radius: 50vw;
    }
  }
}

.postal-code-input
  > .text-input:has(.postal-code-input__input[aria-invalid="true"])
  ~ .postal-code-input__errormessage {
  @include flex();
  visibility: visible;
  opacity: 1;
}

.postal-code-input
  > .text-input:has(.postal-code-input__input[aria-invalid="true"])
  ~ .postal-code-input__example {
  display: none;
  visibility: hidden;
}
