@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../abstracts/variables" as v;
@use "../../../../base/functions" as func;

.postal-code-input {
  $_box-shadow-thickness: 0.125rem;
  $_box-shadow-size: 0px 0px 0px $_box-shadow-thickness;

  @include flex(column);
  gap: 0.5em;
}

.postal-code-input
  > .text-input:has(.postal-code-input__input[aria-invalid="true"])
  ~ .postal-code-input__errormessage {
  @include flex();
  visibility: visible;
  opacity: 1;
}

.postal-code-input
  > .text-input:has(.postal-code-input__input[aria-invalid="true"])
  ~ .postal-code-input__example {
  display: none;
  visibility: hidden;
}
