@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../base/functions" as func;
@use "../../../../base/breakpoints" as b;

.kids-information {
  @include flex();
  margin-top: 2rem;
  padding-block: 1rem;
  padding-right: 0.5rem;
  border-left: func.rem(4) solid c.$blue-dark;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  text-wrap: balance;

  & h3 {
    font-size: inherit;
    padding-bottom: 0.25rem;
  }

  & svg {
    flex-shrink: 0;
    margin-inline: 0.75rem;
    color: c.$blue-dark;
  }

  @media screen and (width < b.$tablet) {
    order: 8;
  }
}
