@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.footer {
  $_links-gap: func.rem(20);

  background-color: c.$grayish;
  padding-top: 4rem;

  & > * > * {
    margin-bottom: 2rem;
  }

  @media screen and (width >= b.$tablet) {
    &__features-container.main-layout {
      grid-column: 1/4;
      margin-bottom: 4rem;
    }

    &__accordions-container.main-layout {
      grid-column: 5/-1;
    }
  }

  @media screen and (width >= b.$desktop) {
    &__features-container.main-layout {
      grid-column: 2/5;
      padding-right: 2rem;
    }
  }

  &__icons-links-container {
    position: relative;
  }

  &__icons-links-inner-container {
    @include flex();
    column-gap: 2.5rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    margin-right: func.rem(150);
  }

  &__change-country {
    width: max-content;
    height: 2.5rem;
    padding-inline: 1rem 1.5rem;
    @include flex(row, flex-start, center);
    gap: 0.5rem;
    border: func.rem(1) solid c.$black;
    border-radius: 50vw;
    font-size: v.$fs-sm;
    font-weight: bold;
    transition: v.$main-transition;
    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
    @media screen and (width < b.$tablet) {
      margin-top: $_links-gap;
    }
    @media screen and (width >= b.$tablet) {
      position: absolute;
      right: 0;
      top: 50%;
      translate: 0 -50%;
    }
  }

  &__sub-list-container {
    width: 100%;
    @include flex();
    gap: $_links-gap;

    @media screen and (width < b.$tablet) {
      flex-direction: column;
    }
    @media screen and (width >= b.$tablet) {
      justify-content: space-between;
      margin-bottom: 0;
      padding-top: func.rem(40);
      border-top: func.rem(1) solid c.$gray;
    }
  }

  &__copyright {
    min-width: fit-content;
    color: c.$text-gray;
    @media screen and (width >= b.$tablet) {
      margin-bottom: 2rem;
    }
  }
}
