@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;
@use "../../../../base/functions" as func;

.manage-products-modal {
  margin-top: 1.25rem;

  &__list {
    padding-block: 1rem;
    @include flex(row, flex-start, center);
    gap: 1rem;
    overflow: auto;
  }

  &__list-item {
    flex-shrink: 0;

    & > img {
      width: 4rem;
      aspect-ratio: 1;
    }
  }

  &__btns-wrapper {
    @include flex(column);
  }

  &__btn {
    min-height: 5.75rem;
    width: 100%;
    max-width: 100%;
    padding-block: 1.5rem;
    @include flex(row, flex-start, center);
    gap: 1.25rem;
    border-bottom: func.rem(1) solid c.$gray;
    font-weight: bold;
    color: c.$black;
  }
}
