@use "./breakpoints" as b;
@use "../abstracts/mixins" as *;

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --wrapper-padding-inline: 1.25rem;

  @media screen and (width >= b.$desktop) {
    --wrapper-padding-inline: 1.25rem 2.5rem;
  }

  @media screen and (width >= b.$tablet) and (width < b.$desktop) {
    --wrapper-padding-inline: 3rem;
  }

  @media screen and (width >= b.$mobile-md) and (width < b.$tablet) {
    --wrapper-padding-inline: 2rem;
  }
}

.btn-container {
  outline: none;
  @include flex(column, center, center);

  &__svg-wrapper {
    width: 44px;
    height: 44px;
    @include center;
    border-radius: 50%;
    transition: 300ms ease-in-out;
  }

  &:hover .btn-container__svg-wrapper {
    background-color: #dfdfdf;
  }

  &:focus-visible .btn-container__svg-wrapper {
    outline: auto;
  }
}

.page-container {
  max-width: 112rem;
  margin-inline: auto;
  padding-inline: var(--wrapper-padding-inline);
  display: grid;
  grid-column-gap: 1.25rem;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-rows: 1fr;

  & > *:not(.btn-container) {
    grid-column: 1/-1;
    @media screen and (width >= b.$desktop) {
      grid-column: 2/-1;
    }
  }
}
