@use "../abstracts/variables" as v;

html:has(body[data-overlay="true"]) {
  overflow-y: hidden;
  margin-right: v.$scrollbar-width;

  .collection-list > li {
    opacity: 0;
    visibility: hidden;
  }

  .swiper {
    overflow: hidden;
    z-index: -1;
    user-select: none;
  }
}

body {
  position: relative;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: transparent;
  transition: background-color v.$main-transition;
  visibility: hidden;
}
body[data-overlay="true"] > .overlay {
  background-color: hsla(0, 0%, 0%, 0.25);
  visibility: visible;
}
