@use "./functions" as func;
@use "./breakpoints" as b;
@use "../abstracts/variables" as v;
@use "../abstracts/colors" as c;

html:has(dialog[open]),
html:has(dialog[open]) {
  overflow-y: hidden;

  @media screen and (width >= b.$tablet-lg) and (height > b.$mobile-lg) and (hover: hover) {
    margin-right: v.$scrollbar-width;
  }
}
html:has(dialog[open].menu-modal) {
  @media screen and (width >= b.$tablet) {
    margin-right: v.$scrollbar-width;
  }
}
