@use "../../../../abstracts/mixins" as *;
@use "../../../../abstracts/colors" as c;

.product-header {
  @include flex(row, space-between, flex-start);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: c.$text-gray;

  & h3 {
    font: inherit;
    @include flex(column);
  }

  & strong {
    color: c.$black;
  }

  & button {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    outline-offset: 0.25em;

    &:where(:hover, :focus-visible) {
      color: c.$black;
    }
  }
}
